h1, h2, h3 {font-family: "Dokdo"; cursor:default;}
p{
    flex: 1;
    font-family: "Dongle";
    font-size: 30px;
    line-height: 0.7;
    margin: 0px;
    cursor: default;
}
h1{ font-size: 60px; margin-bottom: 10px;}
h2{font-size: 40px; margin-bottom: 10px;}

h1, h2{
    max-width: max-content;
    background-color: rgb(253, 228, 88);
    border-radius: 12px;
    padding: 7px 7px;
    border-color: gold; 
    border-style:dashed;
}
h3{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px; 
    margin-bottom: 10px;}
a{
    font-family: "Dongle";
    font-size: 25px;
    line-height: 0.7;
}

#content, #menu, #nav-placeholder{
    display:none
}

#loader, .icons{
    pointer-events: none;
}

.loading-text{
    font-size: 40px;
    font-family: "Dokdo";
    font-weight: bold;
}
.loader-container{
    width: 240px;
    font-family: "Dokdo";
}
.loading-bar{
    opacity: 0px;
    width: 100%;
    height: 18px;
    border: 2px solid black;
    background: repeating-linear-gradient(
        to right,
        #ddd 4px,
        #ddd 8px,
        #fff 12px,
        #fff 16px
    );

    position: relative;
    overflow: hidden;
}

.loading-fill{
    height: 100%;
    width: 0%;
    background: repeating-linear-gradient(
        to right,
        #faf5aa 4px,
        #eedc7a 8px,
        #f0da5d 12px,
        #f0d436 16px
    );
    animation: load 1s steps(21) infinite;
}

@keyframes load{
    0% {width:  0%;}
    100% {width: 100%;}
}

#counter{
    display: none;
    position: absolute;
    right: 100px;          
    font-weight: bold;
    font-size: 40px;
    font-family: "Dokdo";
    }

#star{
    display: none;
    position: absolute;
    top: 10px;
    right: 1px;          
    z-index: 1000;
}

.section{
    display: flex;
    align-items: flex-start;
    gap: 0;
}

.section p{
    margin: 0;
}




